.paragraph.paragraph--color {
  display: table;
}
.paragraph.paragraph--color > .paragraph__column {
  padding-top: 30px;
  padding-bottom: 30px;
}
.paragraph.paragraph--color + .paragraph > .paragraph__column {
  padding-top: 30px;
}
.qvbp_color_01 {
  background: #338ec7;
  color: #ffffff;
}
.qvbp_color_01 a {
  color: #ffffff;
}
.qvbp_color_01 a:hover,
.qvbp_color_01 a:focus,
.qvbp_color_01 a:active,
.qvbp_color_01 a.is-active {
  color: #ffffff;
}
.qvbp_color_02 {
  background: #2c3e50;
  color: #ffffff;
}
.qvbp_color_02 a {
  color: #ffffff;
}
.qvbp_color_02 a:hover,
.qvbp_color_02 a:focus,
.qvbp_color_02 a:active,
.qvbp_color_02 a.is-active {
  color: #ffffff;
}
.qvbp_color_03 {
  background: #a4a4a4;
  color: #ffffff;
}
.qvbp_color_03 a {
  color: #ffffff;
}
.qvbp_color_03 a:hover,
.qvbp_color_03 a:focus,
.qvbp_color_03 a:active,
.qvbp_color_03 a.is-active {
  color: #ffffff;
}
.qvbp_color_04 {
  background: #d3d3d3;
  color: #000000;
}
.qvbp_color_04 a {
  color: #000000;
}
.qvbp_color_04 a:hover,
.qvbp_color_04 a:focus,
.qvbp_color_04 a:active,
.qvbp_color_04 a.is-active {
  color: #000000;
}
.qvbp_color_05 {
  background: #cc3c2d;
  color: #ffffff;
}
.qvbp_color_05 a {
  color: #ffffff;
}
.qvbp_color_05 a:hover,
.qvbp_color_05 a:focus,
.qvbp_color_05 a:active,
.qvbp_color_05 a.is-active {
  color: #ffffff;
}
