// bp background colour field at the admin.
.field--name-bp-background {
  .form-type-radio {
    input {
      visibility: hidden;
      position: absolute;

      &:checked + label {
        border: #000000 2px solid;
      }
    }

    label {
      cursor: pointer !important;
      border: #000000 1px solid;
      font-size: 0.00001px;
      position: relative !important;
      display: inline-block !important;
      width: 25px !important;
      height: 25px!important;
      float: left !important;
      margin: 10px 10px 10px 0 !important;
      padding : 0 !important;
      white-space: nowrap;

      &:after {
        content: 'a';
        display: table;
        position: absolute;
        top: 3px;
        left: 0;
        right: 0px;
        bottom: 0;
        z-index: 1;
        font-size: 20px !important;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        height: 100%;
      }
      
      &:hover {
        opacity: @include 8;
      }

      &._none {
        background: #ffffff !important;

        &:after {
          display: inline-block;
          -webkit-box-sizing: content-box;
          -moz-box-sizing: content-box;
          box-sizing: content-box;
          float: none;
          z-index: auto;
          width: 35px;
          height: 2px;
          position: absolute;
          content: "";
          cursor: pointer !important;
          opacity: 1;
          top: 12px;
          left: -5px;
          right: 0;
          bottom: 0;
          margin: 0;
          padding: 0;
          -o-text-overflow: clip;
          background: #f00;
          -webkit-box-shadow: none;
          box-shadow: none;
          text-shadow: none;
          -webkit-transition: none;
          -moz-transition: none;
          -o-transition: none;
          transition: none;
          -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
          -webkit-transform-origin: 50% 50% 0;
          transform-origin: 50% 50% 0;
        }
      }
    }
  }
}

.field--name-bp-width,
.field--name-bp-gutter,
.field--name-bp-column-style-3,
.field--name-bp-column-style-2,
.field--name-text-and-image-style,
.field--name-field-image-position {
  .form-type-radio {
    input {
      visibility: hidden;
      position: absolute;

      &:checked + label {
        -webkit-filter: invert(25%) sepia(0.9);
        filter: invert(25%) sepia(0.9);
      }
    }
    
    label {
      cursor: pointer !important;
      font-size: 75%;
      text-align: center;
      position: relative !important;
      display: inline-block !important;
      min-width: 50px !important;
      height: 20px !important;
      float: left !important;
      margin: 10px 10px 10px 0 !important;
      padding: 40px 0px 0 !important;
      white-space: nowrap;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;

      &:after {
        content: '';
        display: table;
        position: absolute;
        top: 3px;
        left: 0;
        right: 0px;
        bottom: 0;
        z-index: 1;
        font-size: 20px !important;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        height: 100%;
      }
      
      &:hover {
        opacity: @include 8;
      }
    }
  }
}

// Quick V Bootstrap paragraph width.
.field--name-bp-width {
  .form-type-radio {
    label {
      &.option.paragraph--width--tiny,
      &.option.paragraph--width--narrow,
      &.option.paragraph--width--medium,
      &.option.paragraph--width--wide,
      &.option.paragraph--width--full,
      &.option.bg-edge2edge {
        background-image: none;
        background-position: top center;
        background-repeat: no-repeat;
      }
      
      &.option.paragraph--width--tiny {
        background-image: url("../../images/icons/paragraph--width--tiny.svg");
      }
      
      &.option.paragraph--width--narrow {
        background-image: url("../../images/icons/paragraph--width--narrow.svg");
      }
      
      &.option.paragraph--width--medium {
        background-image: url("../../images/icons/paragraph--width--medium.svg");
      }
      
      &.option.paragraph--width--wide {
        background-image: url("../../images/icons/paragraph--width--wide.svg");
      }
      
      &.option.paragraph--width--full {
        background-image: url("../../images/icons/paragraph--width--full.svg");
      }
      
      &.option.bg-edge2edge {
        background-image: url("../../images/icons/paragraph--width--edge-to-edge.svg");
      }
    }
  }
}

// Quick V Bootstrap paragraph gutter.
.field--name-bp-gutter {
  .form-type-radio {
    label {
      &.option.gutter-0,
      &.option.gutter-1 {
        background-image: none;
        background-position: top center;
        background-repeat: no-repeat;
      }
      
      &.option.gutter-0 {
        background-image: url("../../images/icons/paragraph--gutter--without-gutter.svg");
      }
      
      &.option.gutter-1 {
        background-image: url("../../images/icons/paragraph--gutter--with-gutter.svg");
      }
    }
  }
}

// Quick V Bootstrap paragraph column style 3
.field--name-bp-column-style-3 {
  .form-type-radio {
    label {
      &.option.paragraph--style--25-50-25,
      &.option.paragraph--style--50-25-25,
      &.option.paragraph--style--25-25-50,
      &.option.paragraph--style--16-66-16,
      &.option.paragraph--style--66-16-16,
      &.option.paragraph--style--16-16-66 {
        background-image: none;
        background-position: top center;
        background-repeat: no-repeat;
      }
           
      &.option.paragraph--style--25-50-25 {
        background-image: url("../../images/icons/paragraph--style--25-50-25.svg");
      }
      
      &.option.paragraph--style--50-25-25 {
        background-image: url("../../images/icons/paragraph--style--50-25-25.svg");
      }
      
      &.option.paragraph--style--25-25-50 {
        background-image: url("../../images/icons/paragraph--style--25-25-50.svg");
      }
      
      &.option.paragraph--style--16-66-16 {
        background-image: url("../../images/icons/paragraph--style--16-66-16.svg");
      }
      
      &.option.paragraph--style--66-16-16 {
        background-image: url("../../images/icons/paragraph--style--66-16-16.svg");
      }
      
      &.option.paragraph--style--16-16-66 {
        background-image: url("../../images/icons/paragraph--style--16-16-66.svg");
      }
      
    }
  }
}

// Quick V Bootstrap paragraph column style 2
.field--name-bp-column-style-2 {
  .form-type-radio {
    label {
      &.option.paragraph--style--75-25,
      &.option.paragraph--style--66-33,
      &.option.paragraph--style--25-75,
      &.option.paragraph--style--33-66 {
        background-image: none;
        background-position: top center;
        background-repeat: no-repeat;
      }
      
      &.option.paragraph--style--75-25 {
        background-image: url("../../images/icons/paragraph--style--75-25.svg");
      }
      
      &.option.paragraph--style--66-33 {
        background-image: url("../../images/icons/paragraph--style--66-33.svg");
      }
      
      &.option.paragraph--style--25-75 {
        background-image: url("../../images/icons/paragraph--style--25-75.svg");
      }
      
      &.option.paragraph--style--33-66 {
        background-image: url("../../images/icons/paragraph--style--33-66.svg");
      }
      
    }
  }
}


// Quick V Bootstrap paragraph text and image style
.field--name-text-and-image-style {
  .form-type-radio {
    label {
      &.option.paragraph--style--50-50,
      &.option.paragraph--style--75-25,
      &.option.paragraph--style--66-33,
      &.option.paragraph--style--25-75,
      &.option.paragraph--style--33-66 {
        background-image: none;
        background-position: top center;
        background-repeat: no-repeat;
      }
      
      &.option.paragraph--style--50-50 {
        background-image: url("../../images/icons/paragraph--style--50-50.svg");
      }
      
      &.option.paragraph--style--75-25 {
        background-image: url("../../images/icons/paragraph--style--75-25.svg");
      }
      
      &.option.paragraph--style--66-33 {
        background-image: url("../../images/icons/paragraph--style--66-33.svg");
      }
      
      &.option.paragraph--style--25-75 {
        background-image: url("../../images/icons/paragraph--style--25-75.svg");
      }
      
      &.option.paragraph--style--33-66 {
        background-image: url("../../images/icons/paragraph--style--33-66.svg");
      }
    }
  }
}

// Quick V Bootstrap paragraph text and image field image position.
.field--name-field-image-position {
  .form-type-radio {
    label {
      &.option.right,
      &.option.left {
        background-image: none;
        background-position: top center;
        background-repeat: no-repeat;
      }
      
      &.option.right {
        background-image: url("../../images/icons/paragraph--style--right.svg");
      }
      
      &.option.left {
        background-image: url("../../images/icons/paragraph--style--left.svg");
      }
      
    }
  }
}

[dir=rtl] .field--name-bp-background,
[dir=rtl] .field--name-bp-width,
[dir=rtl] .field--name-bp-gutter,
[dir=rtl] .field--name-bp-column-style-3,
[dir=rtl] .field--name-bp-column-style-2,
[dir=rtl] .field--name-text-and-image-style,
[dir=rtl] .field--name-field-image-position {
  .form-type-radio {
    label {
      float: right !important;

      &._none {
        &:after {
          left: 0;
          right: -5px;
        }
      }
    }
  }
}

.paragraph--view-mode--preview {
  .field--name-bp-image-field img {
    width: 100%;
  }
}

.paragraph-type-add-modal {
  input {
    &.paragraph-type-add-modal-button:hover {
      color: #000000;
    }
  }
}

input&.paragraph-type-add-modal-button,
.widget {
  padding-left: 10px !important;
}

.paragraphs-collapsed-description {
  display: none;
}

.paragraph-actions {
  float: right;
}

.paragraphs-subform {
  .paragraph-type-top {
    top: 0px;
  }
}

.paragraphs-previewer {
  &.button {
    grid-column-start: 5;
    grid-column-end: 5;
  }
}

.add-in-between-row {
  td {
    text-align: center;
  }
}
.paragraphs-tabs-wrapper {
  .form-item {
    .clearfix {
      margin-top: 10px;
    }
  }
}
