{#
/**
 * @file
 * Default theme implementation to display a paragraph in Bootstrap Paragraphs.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('quick_v_bootstrap_paragraphs/qvbp-default') }}
{{ attach_library('quick_v_bootstrap_paragraphs/qvbp-colors') }}
{{ attach_library('quick_v_bootstrap_paragraphs/qvbp-image') }}

{# Background color. #}
{% if content.bp_background|render %}
  {% set layout_background = content.bp_background['#items'].getString() %}
  {% set layout_background_classes = [ layout_background ] %}
{% endif %}

{# The template default set classes. #}
{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class
]
%}

{# Wrapper classes. #}
{% set wrapper_attribute = create_attribute() %}

{# No container by default. #}
{% set add_container = false %}

{# If there is background it's always edge to edge #}
{% if (content.bp_background|render) %}
    {% set attributes = attributes.addClass('bg-edge2edge') %}
    {% set add_container = true %}
{% endif %}

{# If gutter option were selected. #}
{% if qvbp.bp_gutter.value %}
  {% set add_container = true %}
{% endif %}

{# Sets Unique ID for paragraph from Paragraph ID. #}
{% set paragraph_id = 'qvbp-' ~ paragraph.id.value %}

{# Add custom paragraph CSS class(es). #}
{% if qvbp.bp_classes.value %}
  {% set striped_custom_classes = qvbp.bp_classes.value|striptags|lower %}
  {% set split_custom_classes = striped_custom_classes|split(' ') %}
  {% for custom_class in split_custom_classes %}
    {% set clened_custom_class = [ custom_class|clean_class ] %}
    {% set classes = classes|merge(clened_custom_class) %}
  {%  endfor %}
{% endif %}

{# Prints div with classes, and content without Width and Background. #}
<div{{ attributes.addClass(classes).addClass(layout_background_classes).setAttribute('id', paragraph_id) }}>
  {% if add_container %}<div class="container">{% endif %}
    <div class="row">
      <div class="{{- qvbp.bp_width.value -}}">
          {% if content.bp_link|render is not empty %}
            <a href="{{ content.bp_link.0['#url'] }}">
          {% endif %}
          {{ content|without('bp_width', 'bp_background', 'bp_link', 'bp_classes', 'bp_gutter') }}
          {% if content.bp_link|render is not empty %}
            </a>
          {% endif %}
      </div>
    </div>
  {% if add_container %}</div>{% endif %}
</div>
