{#
/**
 * @file
 * Bootstrap Paragraphs template for displaying an Accordion (Collapse).
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('quick_v_bootstrap_paragraphs/qvbp-default') }}
{{ attach_library('quick_v_bootstrap_paragraphs/qvbp-colors') }}
{{ attach_library('quick_v_bootstrap_paragraphs/qvbp-accordion') }}

{# Background color. #}
{% if content.bp_background|render %}
  {% set layout_background = content.bp_background['#items'].getString() %}
  {% set layout_background_classes = [ layout_background ] %}
{% endif %}

{# The template default set classes. #}
{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

{# Merges Background color with classes. #}
{% set background_field = content.bp_background|render %}
{% if background_field %}
  {% set classes = classes|merge(layout_background_classes) %}
{% endif %}

{# No container by default. #}
{% set add_container = false %}

{# If there is BG image it's always edge to edge #}
{% if (qvbp.background_image.url or content.bp_background|render) %}
    {% set attributes = attributes.addClass('bg-edge2edge') %}
    {% set add_container = true %}
{% endif %}

{# If gutter option were selected. #}
{% if qvbp.bp_gutter.value %}
  {% set add_container = true %}
{% endif %}

{% if qvbp.background_image.url %}
  {% set attributes = attributes.addClass('background-style') %}
{% endif %}

{# Sets Unique ID for Accordion from Paragraph ID. #}
{% set paragraph_id = 'qvbp-accordion-' ~ paragraph.id.value %}

{# Add custom paragraph CSS class(es). #}
{% if qvbp.bp_classes.value %}
  {% set striped_custom_classes = qvbp.bp_classes.value|striptags|lower %}
  {% set split_custom_classes = striped_custom_classes|split(' ') %}
  {% for custom_class in split_custom_classes %}
    {% set clened_custom_class = [ custom_class|clean_class ] %}
    {% set classes = classes|merge(clened_custom_class) %}
  {%  endfor %}
{% endif %}

{# Prints Accordion template. #}
<div{{ attributes.addClass(classes).setAttribute('id', paragraph_id) }} role="tablist" aria-multiselectable="true" {% if qvbp.background_image.url %} style="background-image:url({{- qvbp.background_image.url -}});" {% endif %}>
  {% if add_container %}<div class="container">{% endif %}
    <div class="row">
      <div class="{{- qvbp.bp_width.value -}}">
        {{ title_suffix }}
        <div class="card panel panel-default">
          {# Loop through all of the accordion sections. #}
          {% for key, item in content.bp_accordion_section if key|first != '#' %}
            {% set attributes = attributes.removeClass('bg-edge2edge') %}
            <div class="card-header panel-heading" role="tab" id="heading-{{ paragraph_id }}-{{ key + 1 }}">
              <div class="panel-title">
                <a data-toggle="collapse" data-parent="{{ paragraph_id }}" href="#collapse-{{ paragraph_id }}-{{ key + 1 }}" aria-expanded="true" aria-controls="collapse-{{ paragraph_id }}-{{ key + 1 }}">
                  {# Print the accordion section title. #}
                  {{ item['#paragraph'].bp_accordion_section_title.value }}
                </a>
              </div>
            </div>
            <div id="collapse-{{ paragraph_id }}-{{ key + 1 }}" class="card-block panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ paragraph_id }}-{{ key + 1 }}">
              {# Loop through all of the accordion section bodies. #}
              {% for body_key, body_item in item['#paragraph'].bp_accordion_section_body %}
                {# Use the same render array as item and set the '#paragraph'. #}
                {% set section_body = item %}
                {# Load the entity for the current translation #}
                {% set section_body = section_body|merge({'#paragraph': section_body['#paragraph'].bp_accordion_section_body[body_key].entity.getTranslation(section_body['#paragraph'].langcode[0].value)}) %}
                {# Remove the cache keys so it doesn't repeat the first value. #}
                {% set section_body = section_body|merge({'#cache': {}}) %}
                {# Print the compiled section body. #}
                {{ section_body }}
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% if add_container %}</div>{% endif %}
</div>
